/* AuthFormStyles.css */

/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.auth-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 30px;
}

.login {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-image: linear-gradient( 135deg, #0597ff69 10%, #fd5e086b 100%);
    color: #232836;
}

.login h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.input {
    position: relative;
    margin-top: 20px;

}

.input label {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.input input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    outline: none;

    border: 1px solid #CACACA;
    transition: border-color 0.2s;
}


.login button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    background-image: linear-gradient( 135deg, #0597ff69 10%, #fd5e086b 100%);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login button:hover {
  background-image: linear-gradient( 135deg, #0597ff69 30%, #fd5e086b 100%);
}

.login p {
    text-align: center;
    margin-top: 20px;
    color: #232836;
    font-size: 14px;
     color: #fff;
}

.login .signup-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: #232836;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}
